body {
  text-align: center;
}

form {
  display: inline-block;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  text-align: left;
}

p + p {
  margin-top: 1em;
}

label {
  display: inline-block;
  }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  border: none;
}

input,
fieldset {
  font: 1em sans-serif;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  outline-style: solid;
  outline-color: #000;
  background-color: yellow;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: 0.5em;
}
